/* ---------- @ HTML Elements -----------*/

* {
	margin: 0;
	padding: 0;
} 

body, html {
	color:#666;
	background:#ededed;
	min-height:101%;
	font-size: 1em;

	/*font-size: 0.8em;*/
}

body, form {
	font-family:Georgia,"Times New Roman",serif;
	/*font-family: Arial,Verdana*/
}

p {
	margin: 5px 0;
}
hr {
	border:0;
	color: #969696;
	background-color: #969696;
	height: 1px;
	margin-bottom:20px;
}
blockquote {
	background:url(../images/blockquote.jpg) no-repeat left top;
	margin:0;
	padding:5px 0 0 55px;
}
a:link, a:visited {
	text-decoration:none;
	color: #c4211d;
}

a:hover, a:active {
	color:#c4211d;
	text-decoration:underline;
}
a.orange:link, a.orange:visited {
	text-decoration:none;
	color: #DE5E17;
}

a.orange:hover, a.orange:active {
	color:#DE5E17;
	text-decoration:underline;
}

*:focus {
	outline: none
}

/* ---------- @ Page Structure -----------*/
#wrapper {
	background:#fff;
}

#header {
	border-bottom:1px solid #dadada;
}
#content {
	background:url(../images/back.png);
}

.content {
	margin: 0 auto;
	width: 860px;
}
.fleft {
	float:left;
}

.fright {
	float:right
}
/* ---------- @ Header -----------*/
#header .content {
	height: 199px;
	background: no-repeat 160px 0px;
	font-family: 'Kreon', arial, serif;
	text-align: right;	
}
#header .h-php {background-image: url(../images/head-php.jpg) }
#header .h-m {background-image: url(../images/head-m.jpg) }
#header .h-py {background-image: url(../images/head-py.jpg) }

#header h1 {
	padding: 100px 0px 0 0;
}
#header h1 span {
	color:#666;
}
#header .content a,
#header .content a:hover {
	color:#111;
	text-decoration:none;
}
#header .content a:hover span{
	color:#c4211d;
}
/* ---------- @ Navigation -----------*/

#nav li {
	list-style:none;
}

/* ---------- @ Headings -----------*/
h2, h3 {
	margin-bottom: 0.1em;
}

/* ---------- @ Main Area -----------*/
#middle {
	width:600px;

}
#middle .inner {
	padding:30px 20px;
	
	/*font-family:"Lucida Grande",Verdana,Helvetica,Arial,sans-serif*/
}


/*HOME*/
#middle .inner-home {
	padding:0px;
}
.high {
	-webkit-border-radius: 15px;
	-moz-border-radius: 15px;
	border-radius: 15px;
	padding:20px;
	font-size:0.9em;
	width:230px;
	margin:20px 0;
}
.more {
	text-align: right;
}

.high-1 { background:#dfdfdf; }
.high-2 { background:#bebebe; }
.high-3 { background:#efefef; }



.first {margin-right:20px;}


/*TWEETS*/
.latest-tweets {
	margin-top:20px;
	height: 600px;
	overflow-y: auto;
	overflow-x: hidden;
}
.tweet-wrap {
	font-family: Arial,"Helvetica Neue",sans-serif;
	/*line-height:19px;*/
	font-size:13px;
	padding:10px;
	width:290px;
	border-bottom:#EBEBEB 1px solid;
}
.tweet-wrap:hover {
	background:#f8f8f8;
	cursor: pointer;
}
.tweet-wrap img {
	float:left;
	margin:0 10px 10px 0;
}
.tweet-wrap .tweet-name {
	font-weight:bold;
}
.tweet-wrap .tweet-name span {
	font-size:12px;
	font-weight:normal;
	color:#999999;
}
.tweet-wrap .time {
	color:#999999;
	font-size:10px;
}

/*POSTS*/
#middle .post-list {
	padding:0px ;
}
#middle .syntaxhighlighter code {
	font-size:12px !important;
}
#middle .post-list .post-content { font-size:0.9em; }
.title {
	margin-bottom:40px;
}
.post-list .title { margin-bottom:10px; }
.title span.date {
	font-size:0.9em;
	color:#cacaca;
}
.post-list .post,
.archive_heading { 
	border-bottom:#EBEBEB 1px solid; 
	padding:20px;
}
.post-list .post:hover { 
	background:#f8f8f8;
	cursor: pointer;
}
.post-list .post-meta a:hover,
.more a:hover,
a.soft:hover,
#footer .foot-menu a:hover {
	text-decoration:none;
	color:#E76360;
}

.post-single .post { 
	padding:20px;
	border-bottom:#EBEBEB 1px solid;
}

.top {
	padding:10px 20px;
}
/*ARCHIVES*/
.archive_heading {
	font-family: 'Kreon', arial, serif;
}
.archive_heading span{
	color: #c4211d;
	font-style:italic;
}
#pagination {
	text-align:center;
	padding:20px 0;
}
#pagination span {
	padding-right:40px;
	font-style:italic;
}

/* ---------- @ Right Area -----------*/
#side-right {
	font-family: 'Kreon', arial, serif;
	padding: 20px 0px 20px 20px;
	width:240px;
}

#side-right div.right-content {
	padding-bottom: 20px;
}
/*About*/
div#about {
	font-size:0.9em;
	text-align:justify;
}
div#about img {
	margin:0 10px 0px 0;
}
/*Icons*/
a.icon {
	display:block;
	float:left;
	width:45px;
	height:45px;
	background: url(../images/icoons.gif);
	margin:0 5px;
}
a.icon span {display:none;}
div.icon-center-wrap {
	margin:0 auto;
	width:165px;
}
a.twitter { background-position:135px 45px }
a.twitter:hover { background-position:135px 0 }
a.linkedin { background-position:0 45px }
a.linkedin:hover { background-position:0 0 }
a.rss { background-position:45px 45px }
a.rss:hover { background-position:45px 0 }


/*Related Posts*/
.widget_related_post ul {
	line-height:1.1em;
	list-style:none;
	margin:0px;
	padding:0px;
}
.widget_related_post li {
	margin:0px;
	padding:5px 5px;
	border-top:2px solid #fff;
}
.widget_related_post li:hover {
	background:#fff;
	cursor:pointer;
}
.widget_related_post span.date {
	font-size:0.8em;
	color:#999;
	font-style:italic;
}
/* ---------- @ Forms -----------*/

.button {
	background: #000 ! important;
	border:#F7ECD4 1px solid;
	padding: 2px;
	margin: 0 2px 0 0;
	color:#FFF;
}

.button:focus {
	padding:2px;
	background: #000 ! important;
}

.button:hover {
	background: #CCC ! important;
	color: #000;
}

/*Clear*/

.clearfloat:after {
	content:".";
	display:block;
	height:0;
	clear:both;
	visibility:hidden;
	}

.clearfloat {
	display: inline-block;
	}

.clear {clear:both;}

/* ---------- @ Footer -----------*/
#footer_wrapper {
	font-family: 'Kreon', arial, serif;
	color:#6d6d6d;
	border-top:1px solid #969696;
	font-size:0.8em;
}
#footer { padding: 20px 0 100px 0; }
#footer strong { font-size:1.2em; }
#footer .foot-menu { padding-top:20px; }
#footer .foot-menu a {
	padding-right:5px;
	text-transform: uppercase;
}
#footer .credits a,
#footer .credits a:hover {
	color:#222;
}

/* ---------- @ Mixed logic -----------*/
.mustache_template {display:none;}
